body, html
  background: #6CD4FF
  background: -webkit-linear-gradient(to left, #6CD4FF, #8B80F9)
  background: linear-gradient(to left, #6CD4FF, #8B80F9)
  -webkit-font-smoothing: antialiased
  font-size: 16px
  -webkit-text-size-adjust: 100%
  margin: 0
  padding: 0

.login-welcome__container
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #6CD4FF
  background: -webkit-linear-gradient(to left, #6CD4FF, #8B80F9)
  background: linear-gradient(to left, #6CD4FF, #8B80F9)
  display: flex
  align-items: center
  justify-content: center
  padding-left: 0.5rem
  padding-right: 0.5rem

.login-welcome
  width: 620px
  background: #fff
  max-width: 100%
  overflow: hidden
  border-radius: 1rem
  font-weight: 500
  .login-welcome__body
    width: 100%
    padding: 1.25rem
  .login-welcome__columns
    max-width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    gap: 0.25rem
    margin-top: 0.75rem
    margin-bottom: 0.75rem
    align-items: center
    justify-content: center
  h1
    font-weight: 700
    font-size: 1.875rem
  p
    line-height: 1.6
  .mark
    color: #6963e3
  .login-welcome__cover
    width: 400px
    max-width: 100%
    margin-top: 1.25rem
    border-radius: 1rem
    overflow: hidden
    box-shadow: 0 6px 20px -2px rgba(0,0,0,0.11)
    img
      width: 400px
      height: 299px
      overflow: hidden
      object-fit: contain
      max-width: 100%
  .login-welcome__action
    margin-top: 1.25em

.btn
  display: inline-block

.btn--indigo
  background-color: rgb(79 70 229)
  color: white
  &:hover, &:focus
    background-color: rgb(67 56 202)

.btn--large
  padding-left: 2rem
  padding-right: 2rem
  padding-top: 0.75rem
  padding-bottom: 0.75rem
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 500
  border-radius: 0.375rem
  .icon
    display: inline-block
    width: 1.25rem
    height: 1.25rem
    object-fit: cover
    margin-right: 2px
    margin-top: -2px

.page-sync-result
  max-width: 1200px
  margin: 0 auto
  .page-body
    padding-left: 0.5rem
    padding-right: 0.5rem
    padding-bottom: 10rem

.userlist--textbox
  background-color: white
  width: 100%
  margin: 0.25rem
  margin-top: 1.25rem
  padding: 1rem
  border-radius: 1rem
  min-height: 5rem

.user-card
  width: 300px
  background: #fff
  max-width: 100%
  overflow: hidden
  border-radius: 1rem
  padding: 1.25rem
  .user-info__avatar
    text-align: center
    img
      display: inline-block
  .user-info__content
    margin-top: 1.25rem
  .link
    margin-top: 0.5rem
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 0.5rem
  .link__icon
    overflow: hidden
    width: 46px
    height: 46px
    background: hsla(210,2%,98%)
    border-radius: 0.25rem
    border: 1px solid #ddd
    display: flex
    justify-content: center
    align-items: center
    img
      width: 32px
      height: 32px
  .link__content
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 80%
  .user-card__actions
    font-size: 14px
    margin-top: 1rem
    font-weight: 600
    a
      display: flex
      justify-content: flex-start
      align-items: center
    img
      margin-right: 0.5rem
      opacity: 0.8

@media (max-width: 600px)
  .user-list--grids
    .user-card
      flex: 100%

.user-list--grids
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  gap: 1rem
  .user-card
    width: 280px
    margin-top: 1.5rem
